body {
    font-family:Verdana;
    color:blue;    
    text-align:center;
}


p{
    font-family: 'Open Sans', sans-serif;
}

.firstParagraph
{
    font-family: open sans-serif;
    font-size:x-large;
}

